<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDBFilename=C:\Users\kralv\source\repos\Zakázky\DB\Database1.mdf" providerName="System.Data.SqlClient"/>		
	</connectionStrings>

</configuration>